/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  padding: 10px 0 10px 30px;
  white-space: nowrap;
}

.navbar a,
.navbar a:focus {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  letter-spacing: 0.4px;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  transition: 0.3s;
  white-space: nowrap;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  background-color: #fff;
  bottom: -6px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.3s ease-in-out 0s;
  visibility: hidden;
  width: 0;
  width: 100%;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

.navbar .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  display: block;
  left: 30px;
  margin: 0;
  opacity: 0;
  padding: 10px 0;
  position: absolute;
  top: calc(100% + 30px);
  transition: 0.3s;
  visibility: hidden;
  z-index: 99;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  color: #4e4e4e;
  font-size: 14px;
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0078ff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  left: calc(100% - 30px);
  top: 0;
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  left: 100%;
  opacity: 1;
  top: 0;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 28px;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  background: rgba(78, 78, 78, 0.9);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  right: 15px;
  top: 15px;
}

.navbar-mobile ul {
  background-color: #fff;
  bottom: 15px;
  display: block;
  left: 15px;
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: 15px;
  top: 55px;
  transition: 0.3s;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  color: #4e4e4e;
  font-size: 15px;
  padding: 10px 20px;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0078ff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  display: none;
  margin: 10px 20px;
  opacity: 1;
  padding: 10px 0;
  position: static;
  visibility: visible;
  z-index: 99;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0078ff;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}
